---
import Button from '@components/ui/Button.astro';
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
		<span>
			<div class="mb-10">
				<Button style={'primary'} size={'lg'} class={'flex'} name="learn more"><a href="#projects">Discover My Projects</a></Button>
			</div>
		</span>
	</div>
	
	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			I am a determined student with a passion for cybersecurity and a fervent curiosity for blockchain technology.<br>
			I have honed my skills through self-guided learning, delving into topics such as Solidity programming and actively seeking opportunities to expand my knowledge in the field.<br><br>

			In addition to my dedication to technology, I have an athletic side that has allowed me to represent Italy in multiple European beach volleyball championships.<br>
			My experience in winning the Austrian national beach volleyball championship U21 has contributed to shaping my mindset, 
			teaching me the importance of teamwork, discipline, and adaptability.<br><br>

			I believe that the combination of technical skills and qualities acquired through sports has prepared me for professional challenges.<br><br>
			I am excited to further explore opportunities in the realm of cybersecurity and blockchain, contributing to the development of innovative
			and secure solutions for the digital challenges of the future.
		</p>
	</div>
</section>
